table{
	border:1px solid black;
	border-collapse:collapse;
}

th,td{
	border:1px solid black;
	padding:5px;
}

tr:nth-child(2n){
	background-color:lightgrey;
}

thead{
	background-color:lightblue;
}

tfoot{
	background-color:lightgreen;
	text-align:center;
}

.sampleinput label{
	text-align:right;
	margin-right:10px; 
	float:left;		/* keine Ahnung wieso float wichtig ist, aber ohne geht das nicht ! */
	width:100px;
}

fieldset{
	background-color:lightblue;
}

fieldset legend{
	font-weight:bold;
}